:root {
  --white-smoke:      #ECECEC;
  --white:            #fefefe;
  --black:            #0a0a0a;
  --light-gray:       #e6e6e6;
  --light-blue:       #2199e8;
  --switch-on-color:  #1E824C;
  --switch-off-color: #f04124;

  --navbar-height: 70px;

  --header-cell-color:            white;
  --header-cell-background-color: #5a6673;
  --cell-width:                   50%;
  --cell-background-color:        white;
  --border-width:                 4px;
  --border-color:                 #ECECEC;

  --background-color: var(--white-smoke);
  --navbar-background-color: var(--light-gray);
}
