<body onload="initTimer()">

<div class="text-center">
  <div id="timer-box">
    <div>
      <span id="minutes" contenteditable="true"></span>
        :
      <span id="seconds" contenteditable="true"></span>
    </div>
  </div>
</div>

<div class="text-center">
  <div class="switch large radius">
    <input id="start-stop-switch" type="checkbox" onchange="checkSwitch()">
      <label for="start-stop-switch">
        <span class="switch-on">Start</span>
        <span class="switch-off">Stop</span>
      </label>
  </div>
</div>
