<body onload="initTimer()">

<div class="text-center">
  <div id="timer-box">
    <div>
      <span id="minutes" contenteditable="true"></span>
        :
      <span id="seconds" contenteditable="true"></span>
    </div>
  </div>
</div>

<div class="text-center">
  <button onclick="start()" class="button success radius">Start</button>
  <button onclick="stop()" class="button alert radius">Stop</button>
</div>
