<!-- <body onload="initTimer()"> -->

<!-- <div class="text&#45;center"> -->
<!--   <div id="timer&#45;box"> -->
<!--     <div> -->
<!--       <span id="minutes" contenteditable="true"></span> -->
<!--         : -->
<!--       <span id="seconds" contenteditable="true"></span> -->
<!--     </div> -->
<!--   </div> -->
<!-- </div> -->
<!--  -->
<!-- <div class="text&#45;center"> -->
<!--   <div class="switch large radius"> -->
<!--     <input id="start&#45;stop&#45;switch" type="checkbox" onchange="checkSwitch()"> -->
<!--       <label for="start&#45;stop&#45;switch"> -->
<!--         <span class="switch&#45;on">Start</span> -->
<!--         <span class="switch&#45;off">Stop</span> -->
<!--       </label> -->
<!--   </div> -->
<!-- </div> -->

<div class="row">
  <div class="small-10 medium-10 large-10 small-centered medium-centered large-centered columns text-center" role="content">
    <div id="timer-box">
      <div>
        <span id="minutes" contenteditable="true">07</span>
        :
        <span id="seconds" contenteditable="true">60</span>
      </div>
    </div>

    <div class="start-switch-control">
      <div class="switch large">
        <input class="switch-input" id="start-stop-switch" type="checkbox">
          <label class="switch-paddle" for="start-stop-switch">
            <span class="switch-active" aria-hidden="true">Start</span>
            <span class="switch-inactive" aria-hidden="true">Stop</span>
          </label>
      </div>
    </div>
  </div>
</div>

<!-- <div id="notification&#45;sound"></div> -->
