<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Panadora</title>
  <link rel="stylesheet" href="/assets/app.css">
</head>
<body>
  
  <%= yield %>

  <script src="/assets/app.js"></script>
</body>
</html>
