// Timer
#timer-box {
	font-family: sans-serif;
	display: inline-block;
	font-weight: 100;
	text-align: center;
	font-size: 100px;
	margin-top: 100px;
	margin-bottom: 50px;
}

#timer-box > div{
	padding: 15px;
	border-radius: 3px;
	background: $white;
	display: inline-block;
}

#timer-box div > span{
	padding: 15px;
	display: inline-block;
}

[contenteditable="true"]:hover { outline: 2px solid $aluminum; }

// Switch
.switch label { background: $switch-off-color !important; }
.switch input:checked + label { background: $switch-on-color !important; }

.switch-on {
  position: absolute;
  left: -85px;
  top: 10px;
  color: white;
  font-weight: bold;
  font-size: 16px;
}

.switch-off {
  position: absolute;
  left: -40px;
  top: 10px;
  color: white;
  font-weight: bold;
  font-size: 16px;
}
