<div class="top-bar">
  <div class="top-bar-title">
    <span class="show-for-medium">
      <div id='logo'>
        <a href="/">
          <img src="/assets/cherrytomato.png" alt="logo">
        </a>
      </div>
    </span>
  </div>
  <div id="navbar">
    <div class="top-bar-left">
    </div>
    <div class="top-bar-right">
      <ul class="menu">
        <li class="hide-for-medium">
          <div id='logo'>
            <a href="/">
              <img src="/assets/cherrytomato.png" alt="logo">
            </a>
          </div>
        </li>

        <% if logged_in? %>
          <li><a href='/tracker' ><i class="fa"> Tracker</i></a></li>
          <li><a href='/logout' ><i class="fa"> Log out</i></a></li>
        <% else %>
          <li><a href="/login" ><i class="fa fa-twitter"> Login in</i></a></li>
        <% end%>
      </ul>
    </div>
  </div>
</div>
