<div class="row">
  <div class="small-8 medium-6 large-4 small-centered medium-centered large-centered columns text-center" role="content">
    <br>
    <h3>Time Tracker</h3>
    <br>

    <table class="tracker">
      <thead>
        <tr>
          <th>Seconds</th>
          <th>Ended at</th>
        </tr>
      </thead>
      <tbody>
        <% @entries.each do |entry| %>
          <tr>
            <td><%= entry.length %></td>
            <td><%= entry.created_at.strftime("%b %-d, %Y %r") %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>
